:root{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
caption::after{
    content: " #5 lesson";
    font-size: 20px;
    color: gold;
}
section{
    display: flex;
    justify-content: center;
    align-content: center;
}
table{
    border: 3px solid red;
    height: 600px;
    width: 400px;
}
td,
th{
    border: 3px solid blue;
}
tbody td:first-child{ 
    color: darkcyan;
    background-color: skyblue;
}
tbody>tr:nth-child(even){
    background-color: aquamarine;
}
tbody>tr:nth-child(odd){
    background-color: bisque;
}
thead{
    background-color: yellow;
}
tfoot{
    background-color: brown;
}